            <!-- button Create New Customer -->
            <form class="form-horizontal" role="form" method="post" action="../controls/ccstr.py">
                <div class="row">
                    <div class="col-sm-6">
                        <input id="domain" name="domain" type="hidden" value="$domain"/>
                        <input id="nameuser" name="nameuser" type="hidden" value="$nameuser"/>
                        <input id="emailassoc" name="emailassoc" type="hidden" value="$emailassoc"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-md-offset-9">
                        <button type="submit" class="btn btn-primary">Create New Customer</button>
                    </div>
                </div>
            </form>


            <!--Line-->
            <hr>