    <!--Back to top-->
    <div class="container">
        <p class="pull-right"><span class="glyphicon glyphicon-chevron-up"></span> <a href="#">Top</a></p>
    </div>
    <!--Line break-->
    <br>
    <!--Footer-->
    <footer id="footer">
      <div class="container">
        <p class="text-muted pull-right">&copy; 2014-PnF / Programmers.no.Frontiers</p>
      </div>
    </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--<script src="../static/js/affix.js"></script>-->
    <!--<script src="../static/js/alert.js"></script>-->
    <!--<script src="../static/js/bootstrap.js"></script>-->
    <!--<script src="../static/js/bootstrap.min.js"></script>-->
    <!--<script src="../static/js/button.js"></script>-->
    <!--<script src="../static/js/carousel.js"></script>-->
    <!--<script src="../static/js/collapse.js"></script>-->
    <!--<script src="../static/js/dropdown.js"></script>-->
    <!--<script src="../static/js/modal.js"></script>-->
    <!--<script src="../static/js/popover.js"></script>-->
    <!--<script src="../static/js/scrollspy.js"></script>-->
    <!--<script src="../static/js/tab.js"></script>-->
    <!--<script src="../static/js/tooltip.js"></script>-->
    <!--<script src="../static/js/transition.js"></script>-->
  </body>
</html>