            <!--Form-->
            <form class="form-horizontal" role="form">
                <div class="form-group">
                     <label class="col-sm-4 control-label" for="exampleInputEmail1">Email address</label>
                     <div class="col-sm-6">
                         <input class="form-control" id="exampleInputEmail1" type="email" />
                     </div>
                </div>
                <div class="form-group">
                     <label class="col-sm-4 control-label" for="exampleInputPassword1">Password</label>
                     <div class="col-sm-6">
                         <input class="form-control" id="exampleInputPassword1" type="password" />
                     </div>
                </div>
                <div class="form-group">
                     <label class="col-sm-4 control-label" for="exampleInputFile">File input</label>
                     <div class="col-sm-6">
                        <input id="exampleInputFile" type="file" /><p  class="help-block">Example block-level help text here.</p>
                     </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-6">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" /> Check me out
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-6">
                        <button type="submit" class="btn btn-default">Cancel</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </form>
            <!--Line-->
            <hr>
