            <!--Search form-->
            <form class="col-md-9" action="#" method="get">
                <div class="input-group">
                    <!-- USE TWITTER TYPEAHEAD JSON WITH API TO SEARCH -->
                    <input class="form-control" id="system-search" name="q" placeholder="Search for..." required>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" disabled="disabled"><i class="glyphicon glyphicon-search"></i></button>
                    </span>
                </div>
            </form>

            <!-- Standard button -->
            <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-export"></span> Export to Excel</button>

            <!--Line-->
            <hr>