            <!--Table-->
            <table class="table table-hover table-condensed table-list-search">
                <thead>
                    <tr>
                        <th>Entry</th>
                        <th>Entry</th>
                        <th>Entry</th>
                        <th>Entry</th>
                        <th>Entry</th>
                        <th>Entry</th>
                        <th>Status</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Sample</td>
                        <td>Filter</td>
                        <td>12-11-2011 11:11</td>
                        <td>OK</td>
                        <td>123</td>
                        <td>Do some other</td>
                        <td><span class="label label-success">Active</span></td>
                        <td class="text-center">
                            <a class='btn btn-default btn-xs' href="#">
                                <span class="glyphicon glyphicon-edit"></span> Edit
                            </a>
                            <a href="#" class="btn btn-default btn-xs" data-toggle="modal" data-target="#delete">
                                <span class="glyphicon glyphicon-trash"></span> Delete
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Try</td>
                        <td>It</td>
                        <td>11-20-2013 08:56</td>
                        <td>It</td>
                        <td>Works</td>
                        <td>Do some FILTERME</td>
                        <td><span class="label label-danger">Banned</span></td>
                        <td class="text-center">
                            <a class='btn btn-default btn-xs' href="#">
                                <span class="glyphicon glyphicon-edit"></span> Edit
                            </a>
                            <a href="#" class="btn btn-default btn-xs" data-toggle="modal" data-target="#delete">
                                <span class="glyphicon glyphicon-trash"></span> Delete
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>a</td>
                        <td>b</td>
                        <td>c</td>
                        <td>d</td>
                        <td>e</td>
                        <td>f</td>
                        <td><span class="label label-default">Inactive</span></td>
                        <td class="text-center">
                            <a class='btn btn-default btn-xs' href="#">
                                <span class="glyphicon glyphicon-edit"></span> Edit
                            </a>
                            <a href="#" class="btn btn-default btn-xs" data-toggle="modal" data-target="#delete">
                                <span class="glyphicon glyphicon-trash"></span> Delete
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>